* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff90;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 30vw);
}

@media screen and (min-width: 900px) {
    .game-grid {
        grid-template-columns: repeat(3, 15rem);
        grid-template-rows: repeat(3, 15rem);
    }
}

.game-grid .game-cell {
    border: solid 1px #ffffff20;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-circle {
    background-image: url(svg/circle.svg);
}

.icon-cross {
    background-image: url(svg/cross.svg);
}

.show-current-turn {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.current-turn-icon {
    width: 2rem;
    height: 2rem;
}